h1 {
    color:red;
}
h2 {
    color:blue;
}
h3 {
    color:green;
}
h4 {
    color:purple;
}
h5 {
    color:orange;
}
h6 {
    color:pink;
}
p{
    color: green;
    font-size: 20px;
}
.navbar {
    border: 1px solid black;
    background-color: #666;
}
.navbar a {
    color:#fff;
    text-decoration: none;
    padding: 10px;
}
.navbar a:hover {
    background-color: #333;
}